.details{
    background-color:rgba(0, 0, 0, 0.6);
    width: 30%;
    height: 100vh;
    color: white;
}
.search{
    display: flex;
    justify-content: space-between;
}

input{
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid white;
}
input::placeholder{
    color: white;
    font-size: 15px;
}

button{
    width: 18%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 25px;
}

.infos{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2{
    margin-bottom: 50px;
}

.info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}