.clouds{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(../../image/tom-barrett-hgGplX3PFBg-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.rain{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(../../image/valentin-muller-bWtd1ZyEy6w-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.haze{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(../../image/johannes-plenio-E-Zuyev2XWo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.clair{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(../../image/x-xtgONQzGgOE-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.snow{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(../../image/luc-van-loon--OF6_pKN2EM-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




.left{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.title{
    margin: 50px;
    color: white;
}

.container{
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 100px;
}

.temp{
    font-size: 140px;
    font-weight: 450;
}

.place{
    font-size: 50px;
    font-weight: 450;
}
.date {
    font-size: 14px;
}
.mainLogo{
    align-items: center;
}
.logo{
    font-size: 50px;
}
.main {
    font-size: 14px;
}
.right{
    background-color:rgba(0, 0, 0, 0.6);
    width: 30%;
    height: 100vh;
    color: white;
}
.search{
    display: flex;
    justify-content: space-between;
}

input{
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
}
input::placeholder{
    color: white;
    font-size: 15px;
}

.buttonSearch{
    width: 18%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 25px;
}

.infos{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2{
    margin-bottom: 50px;
}

.info{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.cities{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.city{
    margin-top: 25px;
}
.city button{
    background: none;
    color: white;
    font-size:medium;
    border: none;
}
.city button:hover{
    font-size:large;

}
