body{
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.3)),url(./image/mosi-knife--PVgDgKXgZA-unsplash.jpg) ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



